{% extends "layout.html" %}
{% block body %}
    <h4>Complete list of URLs in the database</h4>
    <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <th>Shortened URL</th>
            <th>Complete URL</th>
            <th>Click count</th>
            <th class="text-center">Operations</th>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
            <td class="short-url"><a href="/{{ entry.slug }}">/{{ entry.slug }}</a></td>
            <td class="long-url">{{ entry.url }}</td>
            <td>{{ entry.click_count }}</td>
            <td class="text-center">
                <a href="{{ url_for("edit", slug=entry.slug) }}" title="Edit this entry"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="javascript:confirmDelete('{{ entry.slug }}');" title="Delete this entry"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <script type="text/javascript">
    function confirmDelete(slug) {
        bootbox.dialog({
            message: "Do you really want to delete this item?",
            buttons: {
                cancel: {
                    label: "Cancel",
                    className: "btn-default"
                },
                del: {
                    label: "Delete",
                    className: "btn-danger",
                    callback: function() {
                        window.location.href = "{{ url_for("delete", slug="") }}" + slug;
                    }
                }
            }
        });
    }
    </script>

</div>
{% endblock %}