{% extends "layout.html" %}
{% block body %}
    <h4>Complete list of URLs in the database</h4>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <th>Shortened URL</th>
            <th>Complete URL</th>
            <th>Click count</th>
            <th class="text-center">Operations</th>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
            <td><a href="/{{ entry.slug }}">/{{ entry.slug }}</a></td>
            <td>{{ entry.url }}</td>
            <td>{{ entry.click_count }}</td>
            <td><a href="{{ url_for("delete", slug=entry.slug) }}" title="Delete this entry"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}