{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
        <h4>Shorten URL</h4>
        <form action="{{ url_for('index') }}" method="post" role="form" class="form">
            <div class="col-lg-5">
                <div class="input-group {% if form.slug.errors %}has-error{% endif %}">
                    <span class="input-group-addon">{{ base_url }}/</span>
                    <input type="text" class="form-control" name="slug" placeholder="short_url" id="form-slug" value="{{ form.slug.data or "" }}" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="input-group {% if form.url.errors %}has-error{% endif %}">
                    <span class="input-group-addon">&rarr;</span>
                    <input type="url" class="form-control" name="url" placeholder="http://" id="form-url" value="{{ form.url.data or "" }}" />
                </div>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary">Shorten URL</button>
            </div>
        {% if form.slug.errors %}
            <ul class="errors">
            {% for error in form.slug.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if form.url.errors %}
            <ul class="errors">
            {% for error in form.url.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <script type="text/javascript">
            $(document).ready(function() {
                var modified = false;
                $("#form-url").on('input', function() {
                    var txt = $(this).val();
                    if (!modified) {
                        if (!txt) {
                            $("#form-slug").val("");
                            return;
                        }
                        if ((txt.substring(0, 7) != "http://") || (txt.substring(0, 8) != "https://")) {
                            txt = "http://" + txt;
                        }

                        $.getJSON("{{ url_for("api_generate") }}", {
                            "url": txt
                        }, function(data) {
                            $("#form-slug").val(data["slug"]);
                        })
                    }
                })
                $("#form-slug").keyup(function() {
                    modified = true;
                });
            });
        </script>
        </form>
        </div>

        <div class="row spaced-top">
        <h4>Last 10 URLs added</h4>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                    <th></th>
                    <th>Shortened URL</th>
                    <th>Complete URL</th>
                    <th>Click count</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                    <td class="text-muted">{{ loop.index }}</td>
                    <td><a href="/{{ entry.slug }}">/{{ entry.slug }}</a></td>
                    <td>{{ entry.url }}</td>
                    <td>{{ entry.click_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}
