{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h4>Shorten URL</h4>
            <form action="{{ url_for('index') }}" method="post">
                <dl>
                    {{ base_url }}/ <input type="text" name="slug"/>
                    &rarr;
                    <input type="url" placeholder="http://"/>
                </dl>
                <p><input type="submit" value="Shorten URL"/></p>
            </form>
        </div>
        <div class="col-lg-6">
            <h4>Last 10 URLs added</h4>
            {% for entry in entries %}
                <li><a href="/{{ entry.slug }}">/{{ entry.slug }} &rarr; {{ entry.url }}</a> (added on {{ entry.timestamp }})</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}